.w1 {
    width: 58px;
    text-align: center;
}
.w2 {
    width: 59px;
    text-align: center;
}
.w3 {
    width: 110px;
    text-align:                 center;
}
.w4 {
    width: 70px;
    text-align:                 center;
}
.w5 {
    width: 230px;
    text-align:                 center;
}
.w6 {
    width: 80px;
    text-align:                 center;
}
.w7 {
    width: 200px;
    text-align:                 center;
}
.w8 {
    width: 50px;
    text-align: center;
}
.m_l_3 {
    margin-left:                3px;
}
.m_r_3 {
    margin-right:               3px;
}
#facets .tabs_header div[data-facetname] {
    width: 78px;
}
input[type='search'] {
    line-height: 22px;
    height: 22px;
    font-size: 14px;
    width: 225px;
}
.all {
    margin-bottom: 15px;
}
div.addInfo .add_content {
    padding: 10px;
}
div.addInfo span {
    width: 660px;
}
div.addInfo label {
    width: 120px;
    line-height: 20px;
}
#searchfields label {
    width: 120px;
    line-height: 28px;
}
.empty:after {
    content:                    "not set";
}
audio {
    width: 220px;
    height: 30px;
}
div[data-func="filter_search"] {
    width: 120px;
}
div[data-filter_field] {
    text-align: center;
    margin-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid grey;
}
.show_text {
    border: 1px solid grey;
    background-color: rgb(228, 245, 228);
    cursor: pointer;
    display: inline-block;
    padding: 5px;
    border-radius: 3px;
}
.show_text:hover {
    opacity: 1;
    background-color: rgb(202, 230, 201);
    border: 1px solid black;
}
.show_text + .show_text {
    margin-top: 5px;
}
.download_block {
    display: flex;
    display: -ms-flex;
    display: -webkit-flex;
    padding-left: 5px;
    padding-right: 5px;
}
.download_block + .download_block {
    margin-top: 5px;
}
.file_download {
    border: 1px solid grey;
    background-color: rgb(228, 240, 245);
    cursor: pointer;
    display: inline-block;
    padding: 5px;
    border-radius: 3px;
    flex: 1 1 50px;
    -webkit-flex: 1 1 50px;
    -ms-flex: 1 1 50px;
    min-width: 0px;
    text-decoration: none;
}
.file_download + .file_download {
    margin-left: 5px;
}
.file_download:hover {
    opacity: 1;
    background-color: rgb(190, 216, 226);
    border: 1px solid black;
}
.open_tree, .close_tree {
    width: 80px;
    left: 170px;
}
.close_tree {
    left: 255px;
}
.backlink_div {
    right: 10px;
    left: auto;
}
div.online_state {
    width: 10px;
    border-radius: 10px;
    height: 10px;
    display: inline-block;
}
.online_yes {
    background: green;
}
.online_no {
    background: red;
}

.online_state + .online_state {
    margin-left: 5px;
}