<!-- Ueberschrift -->
<div class="h6">Aktuelle Suche</div>

<!-- Info "Alle Titel suchen" anzeigen, wenn kein sonstiges Textfeld belegt ist -->
<div class="d-flex no-gutters mh-lh" *ngIf="searchFieldsAreEmpty">

  <!-- Label "Suche" -->
  <label>Suche:</label>

  <!-- "Alle Titel anzeigen" -->
  <div class="col">alle Titel anzeigen</div>
</div>

<!-- Suchfelder: Ueber Suchfeld gehen -->
<div *ngFor="let key of query.searchFields | objectKeys"
     class="d-flex no-gutters mh-lh">

  <!-- Wenn in diesem Suchfeld etwas steht -->
  <ng-container *ngIf="query.searchFields[key].value.length > 0">

    <!-- Name des ausgewaehlte Suchfelds (Freitext: ) -->
    <label>{{mainConfig.searchFields.options[query.searchFields[key].field]}}:</label>

    <!-- Suchwert -->
    <div class="col">
      <span>{{query.searchFields[key].value}}</span>
      <!-- Undo-Button -->
      <button (click)="resetTerm(key)"
              class="btn p-1 fa fa-trash"></button>
    </div>
  </ng-container>
</div>

<!-- Ausgewaehlte Ranges: Ueber Rangefelder gehen -->
<div *ngFor="let key of query.rangeFields | objectKeys"
     class="d-flex no-gutters mh-lh">

  <!-- Label (Jahr:) -->
  <label>{{mainConfig.rangeFields[key].label}}:</label>

  <!-- Div mit aktuellem Wertebereich (1955-1972) -->
  <div class="col">

    <!-- Range-Bereich -->
    <span>{{query.rangeFields[key].from}} - {{query.rangeFields[key].to}}</span>

    <!-- Reset-Button (Range wieder auf Extrem-Werte setzen) -->
    <button
      *ngIf="query.rangeFields[key].from != query.rangeFields[key].min || query.rangeFields[key].to != query.rangeFields[key].max"
      (click)="resetRange(key)"
      class="btn p-1 fa fa-undo"></button>

    <span *ngIf="query.rangeFields[key].showMissingValues">
              <span> / auch Einträge ohne {{mainConfig.rangeFields[key].label}} anzeigen</span>

      <!-- Undo-Button -->
              <button (click)="resetRangeValues(key)"
                      class="btn p-1 fa fa-trash"></button>
            </span>
  </div>
</div>

<!-- Ausgewaehlte Facetenwerte: Ueber Facettenfelder gehen -->
<div *ngFor="let key of query.facetFields | objectKeys"
     class="d-flex no-gutters mh-lh">

  <!-- Wenn es ausgewaehlte Werte dieser Facette gibt -->
  <ng-container *ngIf="query.facetFields[key].values.length > 0">

    <!-- Name der Facette (Dokumenttyp: ) -->
    <label>{{mainConfig.facetFields[key].label}}:</label>

    <!-- Div mit Werten -->
    <div class="col">

      <!-- Ueber Werte der Facetten gehen -->
      <ng-container *ngFor="let facetVal of query.facetFields[key].values; first as first">

        <!-- ab 2. Eintrag Operator ausgeben (... OR eng) -->
        <span *ngIf="!first">{{query.facetFields[key].operator}}</span>

        <!-- Facettenwert -->
        <span>{{facetVal}}</span>

        <!-- Remove-Button -->
        <button (click)="removeFacet(key, facetVal)"
                class="btn p-1 fa fa-trash"></button>
      </ng-container>
    </div>
  </ng-container>
</div>

