<div class="container mt-2">

  <form *ngIf="formService.searchForm"
        [formGroup]="formService.searchForm"
        class="mt-2">

    <!-- <pre style="position: fixed; right: 10px; top: 10px">{{updateQueryService.queryFormat | json}}</pre> -->
    <!-- <pre style="position: fixed; right: 10px; top: 10px">{{savedBaskets | json}}</pre> -->

    <!-- Inspektor fuer Suchen: Button "Neue Suche", Uebersicht "aktuelle Suche", "gespeicherte Suchen" -->
    <div class="query-overview bg-info text-white p-2 rounded">

      <button class="btn btn-default btn-sm"
              (click)="resetSearch()">Neue Suche
      </button>

      <hr>

      <!-- Uebersicht der aktuellen Suchparameter, Link der Suche, Suche speichern -->
      <div class="no-gutters">

        <app-params-set [parentFormGroup]="formService.searchForm"></app-params-set>

        <div class="d-flex no-gutters mh-lh">

          <label>Suche als Link:</label>
          <div class="col">
            Link kopieren
            <app-copy-link
              [baseUrl]="(baseUrl$ | async)"
              [data]="query"
              [small]="true">
            </app-copy-link>
          </div>
        </div>

        <app-save-query [parentFormGroup]="formService.searchForm"></app-save-query>

      </div>

      <app-list-saved-queries
        [parentFormGroup]="formService.searchForm">
      </app-list-saved-queries>

      <hr>

      <app-basket-list [parentFormGroup]="formService.searchForm"></app-basket-list>

    </div>

    <!-- DIV-container fuer Suchfelder/Filter unf Facetten/Rangesbereich -->
    <div class="d-flex flex-column flex-md-row no-gutters mt-2">

      <div class="col-md p-2 mr-md-2 mb-2 mb-md-0 d-flex flex-column justify-content-between no-gutters"
           style="border: 1px solid grey; border-radius:3px; margin-right: 20px;">

        <app-free-text-search
          [searchFieldsOptionsConfig]="searchFieldsOptionsConfig$ | async"
          [parentFormGroup]="formService.searchForm"
          [searchFields]="query.searchFields">
        </app-free-text-search>

        <app-filter-search
          [filterFieldsOptionsConfig]="filterFieldsConfig$ | async"
          [parentFormGroup]="formService.searchForm">
        </app-filter-search>

      </div>

      <!-- Facetten/Ranges-Bereich als Tabs (Pills) -->
      <div class="d-flex flex-column p-2 col-md"
           style="border: 1px solid grey; border-radius:3px;">

        <app-visual-search [parentFormGroup]="formService.searchForm">
        </app-visual-search>

      </div>

    </div>

    <app-results [parentFormGroup]="formService.searchForm">
    </app-results>

  </form>
</div>
