<!-- Navigation oben -->
<div class="container">
  <nav class="nav nav-pills mt-3">

    <!-- Link "Zur Datenbank" -->
    <a class="px-2 py-1 btn btn-outline-primary mr-2"
       routerLink=""
       [routerLinkActiveOptions]="{ exact: true }"
       routerLinkActive="active">Datenbank</a>

    <!-- Link "Ueber das Projekt" -->
    <a class="btn btn-outline-primary px-2 py-1"
       routerLink="about"
       routerLinkActive="active">Über das Projekt</a>
  </nav>
</div>

<!-- hier wird der gerenderte Inhalt angezeigt -->
<router-outlet class="no-gutters"></router-outlet>

<!-- Sticky Footer -->
<footer class="footer">
  <div class="container">
    <span class="text-muted">Afrikaportal 2017.</span>
  </div>
</footer>