/* Bootstrap Erweiterung, kann weg? */
.w-10 {
    width: 10%!important;
}
.w-20 {
    width: 20%!important;
}
.w-30 {
    width: 30%!important;
}
.w-40 {
    width: 40%!important;
}

.searchfieldrow + .searchfieldrow {
    margin-top: 10px;
}

.flex-auto {
    flex: auto;
}

.query-overview label {
    width: 120px;
}

.row-count {
    border-top: 1px solid #868e96;
    border-bottom: 1px solid #868e96;
    width: 80px;
    vertical-align: middle;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

select {
    width: auto;
}

label {
    margin-bottom: 0;
}

th {
       position: relative;
}

.input-group-btn select {
    border-color: #ccc;
}

.mh-table-row:nth-child(2n - 1) {
    background: #ddd;
}

@media (min-width: 576px) {

.mh-table-row:last-child > div:last-child > div {
    border-bottom: 1px solid grey;
}

.mh-table-row:last-child > div:last-child > div:last-child {
    border-bottom-right-radius: 3px;
}

 .mh-table-row:last-child > div:last-child > div:first-child {
    border-bottom-left-radius: 3px;
    border-left: 1px solid grey;
}

.mh-table-header > div:last-child {
    border-right: 1px solid grey;
    border-top-right-radius: 3px;
}

.mh-table-header > div:first-child {
    border-left: 1px solid grey;
    border-top-left-radius: 3px;
}

.mh-table-header > div {
    word-break: break-word;
    border-top: 1px solid grey;
    border-left: 1px solid grey;
}

.mh-table-row > .mh-table-row-main > div {
    word-break: break-word;
    border-top: 1px solid grey;
    border-left: 1px solid grey;
}

.mh-table-row > .mh-table-row-main > div:last-child {
      border-right: 1px solid grey;
}

.mh-table-row > .mh-table-row-info {
    border-top: 1px solid grey;
    border-left: 1px solid grey;
    border-right: 1px solid grey;
}

.mh-table-row:last-child > .mh-table-row-info {
    border-left: none;
}

.mh-table-view > .mh-table-row:last-child > div:last-child {
    border-bottom-right-radius: 3px;
}
}

@media (max-width: 575px) {
.mh-table-header > div {
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    border-left: 1px solid grey;
}

.mh-table-header > div:first-child {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;  
}

.mh-table-header > div:last-child {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-right: 1px solid grey;
}

.mh-table-row {
    border: 1px solid grey;
    border-radius: 3px;
    margin-top: 20px;
}
}

.mh-table-row > div > div > label {
    width: 140px;
}

.mh-table-row > div > div > label:after {
    content: ''
}


/* Breite der Tabellen-Spalten bleiben gleich
@media .mh-table-view > .mh-table-row > div {
    border-right: 1px solid green; 
}*/

/* Sortierpfeil nach oben */
.sort_asc::after {
    content: '\2191';
    position: absolute;
    right: 3px;
}

/* Sortierpfeil nach unten */
.sort_desc::after {
    content: '\2193';
    position: absolute;
    right: 3px;
}

.curtain_div {
    position: relative;
    opacity: .5;
    margin-left: 40px;
    margin-right: 40px;
}

.curtain_container {
   
    height: 138px;
    width: 100%;
    /*background-color: grey; */
  
    position: absolute;
    top: -174px;
}

.curtain {
    display: inline-block;
    position: absolute;
    width: 10%;
    height: 128px;
}

.rangeslider_div {
    margin-left: 30px;
    margin-right: 30px;
}