<!-- auesserer Container -->
<div class="container mt-2">

  <!-- Form als aeusserstes Element der App, ngIf wegen async-Aufruf von OnInit -->
  <form *ngIf="searchForm"
        [formGroup]="searchForm"
        class="mt-2">

    <!-- <pre style="position: fixed; right: 10px; top: 10px">{{queryFormat | json}}</pre> -->
    <!-- <pre style="position: fixed; right: 10px; top: 10px">{{savedBaskets | json}}</pre> -->

    <!-- Inspektor fuer Suchen: Button "Neue Suche", Uebersicht "aktuelle Suche", "gespeicherte Suchen" -->
    <div class="query-overview bg-info text-white p-2 rounded">

      <!-- Button "Neue Suche" -->
      <button class="btn btn-default btn-sm"
              (click)="resetSearch()">Neue Suche</button>

      <hr>

      <!-- Uebersicht der aktuellen Suchparameter, Link der Suche, Suche speichern -->
      <div class="no-gutters">

        <!-- Ueberschrift -->
        <div class="h6">Aktuelle Suche</div>

        <!-- Info "Alle Titel suchen" anzeigen, wenn kein sonstiges Textfeld belegt ist -->
        <div class="d-flex no-gutters mh-lh"
             *ngIf="searchFieldsAreEmpty">

          <!-- Label "Suche" -->
          <label>Suche:</label>

          <!-- "Alle Titel anzeigen" -->
          <div class="col">alle Titel anzeigen</div>
        </div>

        <!-- Suchfelder: Ueber Suchfeld gehen -->
        <div *ngFor="let key of queryFormat.searchFields | objectKeys"
             class="d-flex no-gutters mh-lh">

          <!-- Wenn in diesem Suchfeld etwas steht -->
          <ng-container *ngIf="queryFormat.searchFields[key].value.length > 0">

            <!-- Name des ausgewaehlte Suchfelds (Freitext: ) -->
            <label>{{mainConfig.searchFields.options[queryFormat.searchFields[key].field]}}:</label>

            <!-- Suchwert -->
            <div class="col">
              <span>{{queryFormat.searchFields[key].value}}</span>
              <!-- Undo-Button -->
              <button (click)="searchForm.controls['searchField_' + key].setValue('')"
                      class="btn p-1 fa fa-trash"></button>
            </div>
          </ng-container>
        </div>

        <!-- Ausgewaehlte Ranges: Ueber Rangefelder gehen -->
        <div *ngFor="let key of queryFormat.rangeFields | objectKeys"
             class="d-flex no-gutters mh-lh">

          <!-- Label (Jahr:) -->
          <label>{{mainConfig.rangeFields[key].label}}:</label>

          <!-- Div mit aktuellem Wertebereich (1955-1972) -->
          <div class="col">

            <!-- Range-Bereich -->
            <span>{{queryFormat.rangeFields[key].from}} - {{queryFormat.rangeFields[key].to}}</span>

            <!-- Reset-Button (Range wieder auf Extrem-Werte setzen) -->
            <button *ngIf="queryFormat.rangeFields[key].from != queryFormat.rangeFields[key].min || queryFormat.rangeFields[key].to != queryFormat.rangeFields[key].max"
          
                    (click)="resetRange(key)"
                    class="btn p-1 fa fa-undo"></button>

            <span *ngIf="queryFormat.rangeFields[key].showMissingValues">
              <span> / auch Einträge ohne {{mainConfig.rangeFields[key].label}} anzeigen</span>

              <!-- Undo-Button -->
              <button (click)="searchForm.controls['showMissing_' + key].setValue(false)"
                      class="btn p-1 fa fa-trash"></button>
            </span>
          </div>
        </div>

        <!-- Ausgewaehlte Facetenwerte: Ueber Facettenfelder gehen -->
        <div *ngFor="let key of queryFormat.facetFields | objectKeys"
             class="d-flex no-gutters mh-lh">

          <!-- Wenn es ausgewaehlte Werte dieser Facette gibt -->
          <ng-container *ngIf="queryFormat.facetFields[key].values.length > 0">

            <!-- Name der Facette (Dokumenttyp: ) -->
            <label>{{mainConfig.facetFields[key].label}}:</label>

            <!-- Div mit Werten -->
            <div class="col">

              <!-- Ueber Werte der Facetten gehen -->
              <ng-container *ngFor="let facetVal of queryFormat.facetFields[key].values; first as first">

                <!-- ab 2. Eintrag Operator ausgeben (... OR eng) -->
                <span *ngIf="!first">{{queryFormat.facetFields[key].operator}}</span>

                <!-- Facettenwert -->
                <span>{{facetVal}}</span>

                <!-- Remove-Button -->
                <button (click)="removeFacet(key, facetVal)"
                        class="btn p-1 fa fa-trash"></button>
              </ng-container>
            </div>
          </ng-container>
        </div>

        <!-- Block: Link dieser Suchanfrage -->
        <div class="d-flex no-gutters mh-lh">

          <label>Suche als Link:</label>
          <div class="col">
            Link kopieren
            <button class="btn p-1 btn-primary fa fa-link"
                    ngxClipboard
                    [cbContent]="getQueryLink(queryFormat)"></button>
          </div>
        </div>

        <!-- Block: Suchanfrage speichern -->
        <div class="d-flex no-gutters align-items-start mt-1 mh-lh">

          <label>Suche speichern:</label>
          <div class="col no-gutters d-flex flex-column flex-md-row">

            <!-- Input fuer Namen + Button -->
            <div class="input-group input-group-sm col-8 col-md-4">

              <!-- "UserQuery speichern" Textfeld fuer Name -->
              <input class="form-control"
                     formControlName="saveQuery"
                     type="text"
                     #saveQueryInput
                     placeholder="Name der Suche">

              <!-- "UserQuery speichern" Button, disabled, wenn Textfeld nicht valide -->
              <span class="input-group-btn">
                <button class="btn btn-primary fa fa-floppy-o"
                        type="button"
                        [disabled]="searchForm.controls['saveQuery'].invalid"
                        (click)="saveUserQuery(saveQueryInput.value)"></button>
              </span>
            </div>

            <!-- Info bei Fehler im Namensfeld von "UserQuery speichern" -->
            <div class="input-group ml-md-2 mt-1 mt-md-0"
                 *ngIf="searchForm.controls['saveQuery'].errors">
              <div class="bg-danger px-2 rounded"
                   *ngIf="searchForm.controls['saveQuery'].errors.uniqueQueryName">Name muss eindeutig sein</div>
              <div class="bg-danger px-2 rounded"
                   *ngIf="searchForm.controls['saveQuery'].errors.required">Name ist Pflichtfeld</div>
              <div class="bg-danger px-2 rounded"
                   *ngIf="searchForm.controls['saveQuery'].errors.minlength">Mindestlänge {{searchForm.controls['saveQuery'].errors.minlength.requiredLength}}</div>
            </div>
          </div>
        </div>
      </div>

      <hr *ngIf="savedQueries.length">

      <!-- Block: Gespeicherte Suchanfragen: "Suchanfrage speichern", Liste der gespeicherten Suchanfragen -->
      <div class="mt-2"
           *ngIf="savedQueries.length">

        <!-- Ueberschrift -->
        <div class="h6">Meine Suchen</div>

        <!-- Liste der gespeicherten UserQueries -->
        <div class="no-gutters">
          <div *ngFor="let savedQuery of savedQueries; index as i"
               class="input-group input-group-sm col-md-6 mt-1">

            <!-- Button "Query laden" -->
            <span class="input-group-btn">
              <button class="btn btn-primary fa fa-play"
                      type="button"
                      (click)="loadUserQuery(i)"></button>
            </span>

            <!-- Name der Query -->
            <input type="text"
                   class="form-control"
                   disabled="true"
                   [value]=savedQuery.name>

            <!-- Button "Link kopieren" -->
            <span class="input-group-btn">
              <button ngxClipboard
                      [cbContent]="getQueryLink(savedQuery.query)"
                      class="btn btn-primary fa fa-link"
                      type="button"></button>
            </span>

            <!-- Button "Query loeschen" -->
            <span class="input-group-btn">
              <button class="btn btn-danger fa fa-trash"
                      type="button"
                      (click)="deleteUserQuery(i)"></button>
            </span>
          </div>
        </div>
      </div>

      <hr>

      <!-- Block: Gespeicherte Merklisten: "neue Merkliste", Liste der Merklisten -->
      <div class="mt-2 no-gutters"
           formArrayName="baskets">

        <!-- Ueberschrift -->
        <div class="h6">Meine Merklisten</div>

        <!-- neue Merkliste anlegen -->
        <button class="btn btn-primary btn-sm fa fa-plus mb-2"
                (click)="createBasket()"></button>

        <!-- Liste der gespeicherten Baskets -->
        <div class="no-gutters">
          <div *ngFor="let basket of baskets.controls; index as i"
               class="input-group input-group-sm col-md-10 mt-1">

            <!-- Button "Merkliste laden" -->
            <span class="input-group-btn">
              <button class="btn btn-primary fa fa-circle-o"
                      [class.fa-dot-circle-o]="i == activeBasketIndex"
                      type="button"
                      (click)="loadBasket(i)"></button>
            </span>

            <!-- Name des Baskets -->
            <input type="text"
                   class="form-control col-md-5"
                   [formControlName]="i">

            <!-- Anzahl der Titel in dieser Merkliste -->
            <span class="btn btn-sm">
              {{savedBaskets[i].ids.length + ' Titel'}}
            </span>

            <!-- Button "Link kopieren" -->
            <span class="input-group-btn">
              <button ngxClipboard
                      [cbContent]="getQueryLink(savedBaskets[i], 'basket')"
                      class="btn btn-primary fa fa-link"
                      type="button"></button>
            </span>

            <!-- Button "Merkliste loeschen" -->
            <span class="input-group-btn">
              <button class="btn btn-danger fa fa-trash"
                      type="button"
                      (click)="deleteBasket(i)"></button>
            </span>
          </div>
        </div>
      </div>
    </div>

    <!-- DIV-container fuer Suchfelder/Filter unf Facetten/Rangesbereich -->
    <div class="d-flex flex-column flex-md-row no-gutters mt-2">

      <!-- Suchfelder / Filter -->
      <div class="col-md p-2 mr-md-2 mb-2 mb-md-0 d-flex flex-column justify-content-between no-gutters"
           style="border: 1px solid grey; border-radius:3px; margin-right: 20px;">

        <!-- Suchfelder (oben) -->
        <div>

          <!-- Ueberschrift Suche -->
          <div class="h6">Suche</div>

          <div class="input-group searchfieldrow"
               *ngFor="let field of queryFormat.searchFields | objectKeys">

            <!-- Auswahl des Suchfeldtyps (Freitext, Titel, Person,...) -->
            <div class="input-group-btn">
              <select class="btn btn-sm"
                      [formControlName]="'selectSearchField_' + field">
                <option *ngFor="let key of mainConfig.searchFields.options | objectKeys"
                        [value]="key">{{mainConfig.searchFields.options[key]}}</option>
              </select>
            </div>

            <!-- Suchfeld -->
            <input class="form-control form-control-sm"
                   type="text"
                   (keyup.esc)="searchForm.controls['searchField_' + field].setValue('')"
                   [formControlName]="'searchField_' + field"
                   placeholder="Suchbegriff eingeben">
          </div>
        </div>

        <!-- Filter (unten) -->
        <div>

          <!-- Ueber Filter gehen (z.B. Institionenauswahl, mit/ohne Datei-Auswahl) -->
          <div *ngFor="let filter of mainConfig.filterFields | objectKeys"
               formGroupName="filters"
               class="filterBlock">

            <!-- Name des Filter -->
            <div class="h6">{{mainConfig.filterFields[filter].label}}</div>

            <!-- Auswahlmoeglichkeiten dieses Filters (z.B. [Uni Freiburg, KIT,...]) -->
            <label [formArrayName]="filter"
                   class="btn btn-sm btn-outline-primary mr-1"
                   [class.active]="filterCheckbox.checked"
                   *ngFor="let filter_data of mainConfig.filterFields[filter].options; index as i">

              <!-- Anhak-Symbol -->
              <span class="fa"
                    [class.fa-check-circle]="filterCheckbox.checked"
                    [class.fa-circle-thin]="!filterCheckbox.checked"></span>

              <!-- Name der Filteroption -->
              <span>{{filter_data.label}}</span>

              <!-- unsichtbare Checkbox -->
              <input class="d-none"
                     #filterCheckbox
                     [formControlName]="i"
                     type="checkbox">
            </label>
          </div>
        </div>
      </div>

      <!-- Facetten/Ranges-Bereich als Tabs (Pills) -->
      <div class="d-flex flex-column p-2 col-md"
           style="border: 1px solid grey; border-radius:3px;">

        <!-- DIV-Container fuer Tab-Links -->
        <nav class="nav nav-pills"
             id="facet-pills-tab"
             role="tablist">

          <!-- Tab-Ueberschriften fuer Facetten als Pills-Link -->
          <a *ngFor="let key of queryFormat.facetFields | objectKeys"
             class="nav-link text-sm-center px-2 py-0"
             [ngClass]="'order-' + mainConfig.facetFields[key].order"
             [class.active]="mainConfig.facetFields[key].order == 1"
             id="facet-pills-{{key}}-tab"
             data-toggle="pill"
             href="#facet-pills-{{key}}"
             role="tab"
             attr.aria-controls="pills-{{key}}"
             attr.aria-expanded="true">{{mainConfig.facetFields[key].label}}</a>

          <!-- Tab-Ueberschriften fuer Ranges als Pills-Link -->
          <a *ngFor="let key of rangeData | objectKeys"
             class="nav-link text-sm-center px-2 py-0"
             [ngClass]="'order-' + mainConfig.rangeFields[key].order"
             [class.active]="mainConfig.rangeFields[key].order == 1"
             id="facet-pills-{{key}}-tab"
             data-toggle="pill"
             href="#facet-pills-{{key}}"
             role="tab"
             attr.aria-controls="facet-pills-{{key}}"
             attr.aria-expanded="true">{{mainConfig.rangeFields[key].label}}</a>
        </nav>

        <!-- DIV-Container fuer Tab-Inhalte -->
        <div style="height: 300px; overflow-y: scroll;"
             class="tab-content mt-2"
             id="facet-pills-tabContent">

          <!-- DIV pro Facette fuer Facettenwerte -->
          <div *ngFor="let key of queryFormat.facetFields | objectKeys"
               [class.active]="mainConfig.facetFields[key].order == 1"
               class="tab-pane list-group"
               id="facet-pills-{{key}}"
               role="tabpanel"
               attr.aria-labelledby="facet-pills-{{key}}-tab">

            <!-- Select fuer Auswahl wie die Facetten-Werte kombiniert werden sollen (OR vs. AND) -->
            Werte werden per
            <!-- bei mehreren Operatoren ein Select anzeigen, sonst nur den Wert des Operators -->
            <div *ngIf="mainConfig.facetFields[key].operators.length > 1;then operatorSelect else singleOperator"></div>

            <!-- Select wie Facettenwerte dieser Facette verknuepft werden sollen -->
            <ng-template #operatorSelect>
              <select *ngIf="mainConfig.facetFields[key].operators.length > 1"
                      class="btn btn-sm"
                      [formControlName]="'operatorSelect_' + key">
                <option *ngFor="let operator of mainConfig.facetFields[key].operators"
                        [value]="operator">{{operator}}</option>
              </select>
            </ng-template>

            <!-- Anzeige wie Facettenwerte dieser Facetten immer verknupeft werden -->
            <ng-template #singleOperator>{{queryFormat.facetFields[key].operator}}</ng-template>

            verküpft

            <!-- Liste der Facettenwerte dieser Facette -->
            <ng-container *ngFor="let value of facets[queryFormat.facetFields[key].field]">

              <!-- Facettenwert (z.B. Dissertation) und Anzahl (43) anzeigen und Button zum Auswaehlen anbieten -->
              <button *ngIf="queryFormat.facetFields[key].values.indexOf(value[0]) == -1"
                      (click)="selectFacet(key, value[0])"
                      type="button"
                      class="list-group-item list-group-item-action p-1">
                <span class="justify-content-between align-items-center d-flex">
                  <span style="word-break: break-word">{{value[0]}}</span>
                  <span class="badge badge-pill badge-secondary">{{value[1]}}</span>
                </span>
              </button>
            </ng-container>
          </div>

          <!-- DIV pro Range (Jahr, Anzahl Seiten,...) mit Histogramm und Slider -->
          <div *ngFor="let key of rangeData | objectKeys"
               class="tab-pane list-group"
               [class.active]="mainConfig.rangeFields[key].order == 1"
               id="facet-pills-{{key}}"
               role="tabpanel"
               attr.aria-labelledby="facet-pills-{{key}}-tab">

            <!-- Button "x Eintraege ohne Merkmal y" anzeigen (z.B. Titel ohne Jahr) -->
            <label class="btn btn-sm btn-outline-primary px-2 py-1 mb-3"
                   [class.active]="showMissingCheckbox.checked">

              <!-- Anhak-Symbol -->
              <span class="fa"
                    [class.fa-check-circle]="showMissingCheckbox.checked"
                    [class.fa-circle-thin]="!showMissingCheckbox.checked"></span>

              <!-- Text "x Titel ohne Jahr anzeigen" -->
              <span>Zeige {{getMissingCount(key)}} Titel ohne {{rangeData[key].label}}</span>

              <!-- unsichtbare Checkbox -->
              <input class="d-none"
                     #showMissingCheckbox
                     type="checkbox"
                     [formControlName]="'showMissing_' + key">
            </label>

            <!-- Chart -->
            <div style="height: 180px;">
              <canvas baseChart
                      [chartType]="'bar'"
                      [datasets]="rangeData[key].chartData"
                      [labels]="rangeData[key].chartLabels"
                      [options]="rangeData[key].chartOptions"
                      [legend]="false">
              </canvas>
            </div>

            <!-- Vorhang ueber Chart -->
            <div class="curtain_div">
              <div class="curtain_container">
                <div class="curtain"
                     style="background-color: rgba(10, 10, 10, .3); left: 0px"
                     [style.width]="rangeData[key].curtainLeft"></div>
                <div class="curtain"
                     style="background-color: rgba(10, 10, 10, .3); right: 0px"
                     [style.width]="rangeData[key].curtainRight"></div>
              </div>
            </div>

            <!-- Slider -->
            <div class="rangeslider_div">
              <ion-range-slider #sliderElement
                                [id]="key"
                                type="double"
                                [min]="rangeData[key].min"
                                [from]="rangeData[key].from"
                                [to]="rangeData[key].to"
                                [max]="rangeData[key].max"
                                grid="true"
                                grid_num="10"
                                [prefix]="rangeData[key].label + ' '"
                                prettify_enabled="false"
                                hide_min_max="true"
                                (onChange)="updateSlider($event, key)"></ion-range-slider>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Trefferlisten (Suche und Merkliste) als Tabs (Pills) -->
    <div class="d-flex flex-column p-2 col-md mt-2 mb-2"
         style="border: 1px solid grey; border-radius:3px;">

      <!-- DIV-Container fuer Tab-Links -->
      <nav class="nav nav-pills "
           id="result-pills-tab"
           role="tablist">

        <!-- Tab-Link fuer Trefferliste -->
        <a class="btn btn-outline-primary mr-2 text-sm-center px-2 py-1 active"
           id="results-pills-search-tab"
           data-toggle="pill"
           href="#results-pills-search"
           role="tab"
           attr.aria-controls="pills-search"
           attr.aria-expanded="true">Ergebnisse
          <!-- Treffer-Anzahl in Trefferliste -->
          <strong>({{count}})</strong>
        </a>

        <!-- Tab-Link fuer Merkliste -->
        <a class="btn btn-outline-primary text-sm-center px-2 py-1"
           id="results-pills-basket-tab"
           data-toggle="pill"
           href="#results-pills-basket"
           role="tab"
           attr.aria-controls="pills-basket"
           attr.aria-expanded="true">Merkliste
          <!-- Treffer-Anzahl in Merkliste -->
          <strong>({{basketSize}})</strong>
        </a>
      </nav>

      <!-- DIV-Container fuer Tab-Inhalte (Trefferliste + Merkliste) -->
      <div class="tab-content"
           id="result-pills-tabContent">

        <!-- DIV fuer Trefferlisten-Tab -->
        <div class="tab-pane list-group active"
             id="results-pills-search"
             role="tabpanel"
             attr.aria-labelledby="facet-pills-search-tab">

          <!-- Zeile aus Treffer-Anzahl, Select Treffer pro Seite, Pagination der Treffertabelle -->
          <div class="d-flex justify-content-start flex-wrap">

            <!-- Block: Select Treffer pro Seite + Pagination -->
            <div *ngIf="count"
                 class="d-flex flex-wrap align-items-center justify-content-between justify-content-md-end flex-auto">

              <!-- Select Treffer pro Seite -->
              <div class="form-inline mr-2 mb-2 mb-md-0">

                <!-- Select: Rows -->
                <select class="form-control form-control-sm"
                        formControlName="rows">
                  <option *ngFor="let rowOpt of mainConfig.rowOpts"
                          [value]="rowOpt">{{rowOpt}}</option>
                </select>

                <!-- Label: Treffer pro Seite -->
                <label class="form-label ml-2 d-flex justify-content-center"
                       for="rows">Treffer pro Seite</label>
              </div>

              <!-- Paging fuer Treffertabelle -->
              <div class="btn-group btn-group-sm mb-2 mb-md-0"
                   role="group"
                   aria-label="Small button group">

                <!-- 1. Seite -->
                <button class="btn btn-primary fa fa-angle-double-left"
                        (click)="updateStart('first')"
                        [disabled]="queryFormat.queryParams.start == 0">
                </button>

                <!-- nach links blaettern -->
                <button class="btn btn-primary fa fa-angle-left"
                        (click)="updateStart(-1)"
                        [disabled]="queryFormat.queryParams.start == 0">
                </button>

                <!-- aktuelle Seite von insgesamt x Seiten -->
                <div class="row-count">{{ page}} / {{pages}}</div>

                <!-- nach rechts blaettern -->
                <button class="btn btn-primary fa fa-angle-right"
                        (click)="updateStart(1)"
                        [disabled]="page == pages"></button>

                <!-- letztes Seite -->
                <button class="btn btn-primary fa fa-angle-double-right"
                        (click)="updateStart('last')"
                        [disabled]="page == pages"></button>
              </div>
            </div>
          </div>

          <!-- Treffertabelle -->
          <div *ngIf="count"
               class="mt-2 mh-table-view">

            <!-- Tabellenheader -->
            <div class="d-flex mh-table-header font-weight-bold">

              <!-- Ueber Spaltenfelder gehen -->
              <ng-container *ngFor="let field of mainConfig.tableFields; index as index">

                <!-- Wenn es ein sortierbares Feld ist, Sortierfunktionen setzen -->
                <div *ngIf="field.sort"
                     (click)="sortTable(field.sort)"
                     [class]="field.css + ' text-center'"
                     [class.mh-sort-by-column]="index === sortColumnSearch">{{field.label}}

                  <!-- Sortiersymbol -->
                  <span [class]="'mh-sort fa ' + sortBy(field.sort)"></span>
                </div>

                <!-- Wenn es kein sortierbares Feld ist, nur Ueberschrift ausgeben -->
                <div *ngIf="!field.sort"
                     [class]="'text-center ' + field.css">{{field.label}}
                </div>
              </ng-container>

              <!-- Letzte Spalte fuer Merkliste -->
              <div class="col-1 text-center">

                <!-- Star als icon -->
                <span class="fa fa-star"></span>
              </div>
            </div>

            <!-- Tabellenzeilen -->
            <div class="mh-table-row d-flex flex-column"
                 *ngFor="let doc of docs">

              <!-- 1. Zeile mit Hauptinfos -->
              <div class="d-flex flex-column flex-sm-row mh-table-row-main no-gutters">

                <!-- Ueber Spaltenfelder gehen -->
                <ng-container *ngFor="let field of mainConfig.tableFields; first as first; index as index">

                  <!-- Spalte -->
                  <div [class]="field.css + ' d-flex no-gutters py-1 px-2'"
                       [class.mh-sort-by-column]="index === sortColumnSearch">

                    <!-- Label ("Titel: "") nur bei kleinster Darstellung (vertikal) anzeigen -->
                    <label class="d-sm-none font-weight-bold text-right mr-2">{{field.label}}</label>

                    <!-- Wenn kein Wert gesetzt ist -->
                    <span *ngIf="getType(doc[field.field]) === 'unset'"
                          class="col"
                          [class.mh-flex-1]="first">
                      <i>ohne</i>
                    </span>

                    <!-- Wenn es ein Einzelwert ist (z.B. ID, Jahr,...), einfach Wert ausgeben -->
                    <span *ngIf="getType(doc[field.field]) === 'single'"
                          class="col"
                          [class.mh-flex-1]="first">{{doc[field.field]}}</span>

                    <!-- Wenn es ein Multiwert ist (z.B. Personen, Schlagwoerter,...), Werte aggregiert ausgeben -->
                    <span *ngIf="getType(doc[field.field]) === 'multi'"
                          class="col">

                      <!-- Ueber Werte (z.B. einzelne Personen) gehen -->
                      <ng-container *ngFor="let singleValue of doc[field.field], last as last">

                        <!-- Wert ausgeben -->
                        {{singleValue}}

                        <!-- Wenn es nicht der letzte Wert war ein <br> einfuegen -->
                        <br *ngIf="!last">
                      </ng-container>
                    </span>

                    <!-- ggfs. einen Link auf Landing Page -->
                    <a *ngIf="field.landingpage === true"
                       class="d-none d-sm-block btn btn-sm btn-primary fa fa-info p-1 mb-1"
                       [routerLink]="['/doc', doc.id]"></a>

                    <!-- ggfs. einen Button zum Einblenden der zusaetzlichen Infos, erst ab sm sichtbar sichtbar -->
                    <button *ngIf="field.extraInfo === true"
                            class="d-none d-sm-block btn btn-sm btn-primary fa p-1"
                            [class.fa-arrow-down]="!detailDataArray[doc.id]?.visible"
                            [class.fa-arrow-up]="detailDataArray[doc.id]?.visible"
                            (click)="getFullData(doc.id)"></button>
                  </div>
                </ng-container>

                <!-- letzte Spalte fuer Merkliste, Klick Event auf ganze Zelle: "Merken" fuegt ID ein oder loescht sie aus aktiver Merkliste -->
                <div class="col-sm-1 d-flex align-items-center no-gutters py-1 px-2"
                     (click)="toggleInBasket(doc.id)">

                  <!-- Label "Merken" nur bei kleinster Darstellung (vertikal) anzeigen -->
                  <label class="d-sm-none font-weight-bold text-right mr-2">Add</label>

                  <!-- Star-Symbol  -->
                  <span class="col text-sm-center">
                    <div class="fa"
                         [ngClass]="{
                          'fa-star-o text-warning' : !isInBasket(doc.id),
                           'text-warning fa-star' : isInBasket(doc.id)
                         }">
                    </div>
                  </span>
                </div>
              </div>

              <!-- Link auf Landing Page und Button zum Einblenden der zusaetzlichen Infos, nur bei schmalster Breite sichtbar -->
              <div *ngIf="mainConfig.generatedConfig.tableFieldsDisplayLandingpage || mainConfig.generatedConfig.tableFieldsDisplayExtraInfo" 
              class="d-flex d-sm-none" style="margin:auto">
              <!-- Link auf Landing Page -->
                <a *ngIf="mainConfig.generatedConfig.tableFieldsDisplayLandingpage === true"
                class="btn btn-primary btn-sm p-1 fa fa-info mb-1"
                  [routerLink]="['/doc', doc.id]"></a>

                <!-- Button zum Einblenden der zusaetzlichen Infos -->
                <button *ngIf="mainConfig.generatedConfig.tableFieldsDisplayExtraInfo === true"
                        class="btn btn-primary btn-sm p-1 fa mb-1 ml-2"
                        [class.fa-arrow-down]="!detailDataArray[doc.id]?.visible"
                        [class.fa-arrow-up]="detailDataArray[doc.id]?.visible"
                        (click)="getFullData(doc.id)">
                </button>
              </div>

              <!-- Zusatzzeile mit Details anzeigen, wenn sichtbar -->
              <div class="mh-table-row-info no-gutters"
                   *ngIf="detailDataArray[doc.id]?.visible">

                <!-- Ueber Felder der Config gehen -->
                <ng-container *ngFor="let key of mainConfig.extraInfos | objectKeys">

                  <!-- 1 grosse Zelle fuer Inhalt, anzeigen, wenn es Daten zu diesem Feld gibt -->
                  <div class="col-12 d-flex no-gutters"
                       *ngIf="detailDataArray[doc.id]?.data[mainConfig.extraInfos[key].field]?.length">

                    <!-- Ueberschrift links (z.B. "Schlagwoerter") -->
                    <label class="font-weight-bold text-right mr-2">{{mainConfig.extraInfos[key].label}}</label>

                    <!-- Wenn es ein Einzeltwert ist, Wert ausgeben und mit innerHTML binden, damit auch HTML (z.B. <a>) moeglich ist -->
                    <span class="col"
                          *ngIf="getType(detailDataArray[doc.id]?.data[mainConfig.extraInfos[key].field]) === 'single'"
                          [innerHTML]="formatValue(detailDataArray[doc.id]?.data[mainConfig.extraInfos[key].field], mainConfig.extraInfos[key].display)">
                    </span>

                    <!-- Wenn es ein Multiwert ist -->
                    <span class="col"
                          *ngIf="getType(detailDataArray[doc.id]?.data[mainConfig.extraInfos[key].field]) === 'multi'">

                      <!-- Ueber Werte (z.B. einzelne Schlagwoerter) gehen -->
                      <ng-container *ngFor="let value of detailDataArray[doc.id]?.data[mainConfig.extraInfos[key].field]; first as isFirst">

                        <!-- Wert ausgeben, mit innerHTML binden, damit auch HTML (z.B. <a>) moeglich ist -->
                        <span [innerHTML]="formatValue(value, mainConfig.extraInfos[key].display)"></span>

                        <!-- Zeilenumbruch, wenn nicht der letzte Wert -->
                        <br *ngIf="!isLast">
                      </ng-container>
                    </span>
                  </div>
                </ng-container>
              </div>
            </div>
          </div>
        </div>

        <!-- DIV fuer Merklisten-Tab -->
        <div class="tab-pane list-group"
             id="results-pills-basket"
             role="tabpanel"
             attr.aria-labelledby="facet-pills-basket-tab">

          <!-- Zeile aus Treffer-Anzahl und Pagination der Merkliste -->
          <div class="d-flex justify-content-start flex-wrap">

            <!-- Block: Pagination fuer Merlisten-Treffertabelle (keine Auswahlmoeglichkeit wie viele Treffer pro Seite) -->
            <div *ngIf="basketSize"
                 class="d-flex flex-wrap align-items-center justify-content-between justify-content-md-end flex-auto">

              <!-- Paging fuer Merklisten-Treffertabelle -->
              <div class="btn-group btn-group-sm mb-2 mb-md-0"
                   role="group"
                   aria-label="Small button group">

                <!-- 1. Seite -->
                <button class="btn btn-primary fa fa-angle-double-left"
                        (click)="updateStart('first', 'basket')"
                        [disabled]="basketPage == 1">
                </button>

                <!-- nach links blaettern -->
                <button class="btn btn-primary fa fa-angle-left"
                        (click)="updateStart(-1, 'basket')"
                        [disabled]="basketPage == 1">
                </button>

                <!-- aktuelle Seite von insgesamt x Seiten -->
                <div class="row-count">{{ basketPage}} / {{basketPages}}</div>

                <!-- nach rechts blaettern -->
                <button class="btn btn-primary fa fa-angle-right"
                        (click)="updateStart(1, 'basket')"
                        [disabled]="basketPage == basketPages"></button>

                <!-- letztes Seite -->
                <button class="btn btn-primary fa fa-angle-double-right"
                        (click)="updateStart('last', 'basket')"
                        [disabled]="basketPage == basketPages"></button>
              </div>
            </div>
          </div>

          <!-- Merklisten-Treffertabelle -->
          <div *ngIf="basketSize"
               class="mt-2 mh-table-view">

            <!-- Tabellenheader -->
            <div class="d-flex mh-table-header font-weight-bold">

              <!-- Ueber Spaltenfelder gehen -->
              <ng-container *ngFor="let field of mainConfig.tableFields; index as index">

                <!-- Wenn es ein sortierbares Feld ist, Sortierfunktionen setzen -->
                <div *ngIf="field.sort"
                     (click)="sortTable(field.sort, 'basket')"
                     [class]="field.css + ' text-center'"
                     [class.mh-sort-by-column]="index === sortColumnBasket">{{field.label}}

                  <!-- Sortiersymbol -->
                  <span [class]="'mh-sort fa ' + sortBy(field.sort, 'basket')"></span>
                </div>

                <!-- Wenn es kein sortierbares Feld ist, nur Ueberschrift ausgeben -->
                <div *ngIf="!field.sort"
                     [class]="'text-center ' + field.css">{{field.label}}
                </div>
              </ng-container>

              <!-- Letzte Spalte fuer Merkliste -->
              <div class="col-1 text-center">

                <!-- Star als icon -->
                <span class="fa fa-star"></span>
              </div>
            </div>

            <!-- Tabellenzeilen -->
            <div class="mh-table-row d-flex flex-column"
                 *ngFor="let doc of basketDocs">

              <!-- 1. Zeile mit Hauptinfos -->
              <div class="d-flex flex-column flex-sm-row mh-table-row-main no-gutters">

                <!-- Ueber Spaltenfelder gehen -->
                <ng-container *ngFor="let field of mainConfig.tableFields; first as first; index as index">

                  <!-- Spalte -->
                  <div [class]="field.css + ' d-flex no-gutters py-1 px-2'"
                       [class.mh-sort-by-column]="index === sortColumnBasket">

                    <!-- Label ("Titel: "") nur bei kleinster Darstellung (vertikal) anzeigen -->
                    <label class="d-sm-none font-weight-bold text-right mr-2">{{field.label}}</label>

                    <!-- Wenn kein Wert gesetzt ist -->
                    <span *ngIf="getType(doc[field.field]) === 'unset'"
                          class="col"
                          [class.mh-flex-1]="first">
                      <i>ohne</i>
                    </span>

                    <!-- Wenn es ein Einzelwert ist (z.B. ID, Jahr,...), einfach Wert ausgeben -->
                    <span *ngIf="getType(doc[field.field]) === 'single'"
                          class="col"
                          [class.mh-flex-1]="first">{{doc[field.field]}}</span>

                    <!-- Wenn es ein Multiwert ist (z.B. Personen, Schlagwoerter,...), Werte aggregiert ausgeben -->
                    <span *ngIf="getType(doc[field.field]) === 'multi'"
                          class="col">

                      <!-- Ueber Werte (z.B. einzelne Personen) gehen -->
                      <ng-container *ngFor="let singleValue of doc[field.field], last as last">

                        <!-- Wert ausgeben -->
                        {{singleValue}}

                        <!-- Wenn es nicht der letzte Wert war ein <br> einfuegen -->
                        <br *ngIf="!last">
                      </ng-container>
                    </span>

                    <!-- ggfs. einen Link auf Landing Page -->
                    <a *ngIf="field.landingpage === true"
                       class="d-none d-sm-block btn btn-sm btn-primary fa fa-info p-1 mb-1"
                       [routerLink]="['/doc', doc.id]"></a>

                    <!-- ggfs. einen Button zum Einblenden der zusaetzlichen Infos, erst ab sm sichtbar sichtbar -->
                    <button *ngIf="field.extraInfo === true"
                            class="d-none d-sm-block btn btn-sm btn-primary fa p-1"
                            [class.fa-arrow-down]="!detailDataArray[doc.id]?.visible"
                            [class.fa-arrow-up]="detailDataArray[doc.id]?.visible"
                            (click)="getFullData(doc.id)"></button>
                  </div>
                </ng-container>

                <!-- letzte Spalte fuer Merkliste, Klick-Event auf die ganze Zeile -->
                <div class="col-sm-1 d-flex align-items-center no-gutters py-1 px-2"
                     (click)="toggleInBasket(doc.id)">

                  <!-- Label "Merken" nur bei kleinster Darstellung (vertikal) anzeigen -->
                  <label class="d-sm-none font-weight-bold text-right mr-2">Add</label>

                  <!-- Button "Merken" fuegt ID ein oder loescht sie aus aktiver Merkliste -->
                  <span class="col text-sm-center">

                    <!-- Bei Merkliste imm ein ausgefuellten Stern anzeigen -->
                    <div class="text-warning fa fa-star"></div>
                  </span>
                </div>
              </div>

              <!-- Link auf Landing Page und Button zum Einblenden der zusaetzlichen Infos, nur bei schmalster Breite sichtbar -->
              <div *ngIf="mainConfig.generatedConfig.tableFieldsDisplayLandingpage || mainConfig.generatedConfig.tableFieldsDisplayExtraInfo" 
              class="d-flex d-sm-none" style="margin:auto">
              <!-- Link auf Landing Page -->
                <a *ngIf="mainConfig.generatedConfig.tableFieldsDisplayLandingpage === true"
                class="btn btn-primary btn-sm p-1 fa fa-info mb-1"
                  [routerLink]="['/doc', doc.id]"></a>

                <!-- Button zum Einblenden der zusaetzlichen Infos -->
                <button *ngIf="mainConfig.generatedConfig.tableFieldsDisplayExtraInfo === true"
                        class="btn btn-primary btn-sm p-1 fa mb-1 ml-2"
                        [class.fa-arrow-down]="!detailDataArray[doc.id]?.visible"
                        [class.fa-arrow-up]="detailDataArray[doc.id]?.visible"
                        (click)="getFullData(doc.id)">
                </button>
              </div>

              <!-- Zusatzzeile mit Details anzeigen, wenn sichtbar -->
              <div class="mh-table-row-info no-gutters p-2"
                   *ngIf="detailDataArray[doc.id]?.visible">

                <!-- Ueber Felder der Config gehen -->
                <ng-container *ngFor="let key of mainConfig.extraInfos | objectKeys">

                  <!-- 1 grosse Zelle fuer Inhalt, anzeigen, wenn es Daten zu diesem Feld gibt -->
                  <div class="col-12 d-flex no-gutters"
                       *ngIf="detailDataArray[doc.id]?.data[mainConfig.extraInfos[key].field]?.length">

                    <!-- Ueberschrift links (z.B. "Schlagwoerter") -->
                    <label class="font-weight-bold text-right mr-2">{{mainConfig.extraInfos[key].label}}</label>

                    <!-- Wenn es ein Einzeltwert ist, Wert ausgeben und mit innerHTML binden, damit auch HTML (z.B. <a>) moeglich ist -->
                    <span class="col"
                          *ngIf="getType(detailDataArray[doc.id]?.data[mainConfig.extraInfos[key].field]) === 'single'"
                          [innerHTML]="formatValue(detailDataArray[doc.id]?.data[mainConfig.extraInfos[key].field], mainConfig.extraInfos[key].display)">
                    </span>

                    <!-- Wenn es ein Multiwert ist -->
                    <span class="col"
                          *ngIf="getType(detailDataArray[doc.id]?.data[mainConfig.extraInfos[key].field]) === 'multi'">

                      <!-- Ueber Werte (z.B. einzelne Schlagwoerter) gehen -->
                      <ng-container *ngFor="let value of detailDataArray[doc.id]?.data[mainConfig.extraInfos[key].field]; first as isFirst">

                        <!-- Wert ausgeben, mit innerHTML binden, damit auch HTML (z.B. <a>) moeglich ist -->
                        <span [innerHTML]="formatValue(value, mainConfig.extraInfos[key].display)"></span>

                        <!-- Zeilenumbruch, wenn nicht der letzte Wert -->
                        <br *ngIf="!isLast">
                      </ng-container>
                    </span>
                  </div>
                </ng-container>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>