#small_basket {
    margin-left:                3px;
    display:                    inline-block;
    text-align:                 left;
    width:                      25px;
}
#func_basket {
    height:                     36px;
}
.export {
    display:                    inline-block;
    background-position:        5px center;
    background-repeat:          no-repeat;
    border:                     1px solid grey;
    padding:                    5px 5px 1px 27px;
    height:                     26px;
    width:                      150px;
    cursor:                     pointer;
    text-align: center;
    box-shadow: 1px 1px 0px #999;
}
.export:hover {
    border:                     1px solid black;
    background-color:           rgb(215, 234, 247);
}
.file + .file {
    margin-left: 10px;
}
.file {
    background-image:           url("images/download.png");
}
.clean {
    background-image:           url("images/delete.png");
}
.link {
    background-image:           url("images/link.png");
}
#reset_basket {
    float: right;
    margin-right: 13px;
}
div.remembered div {
    background-color:           rgb(202, 230, 201);
}
div.remembered div[data-func="more"], div.remembered div.closed[data-func="more"]:hover {
    background-color:           rgb(215, 234, 247);
}
div.remembered div.closed[data-func="more"] {
    background-color:           white;
}
#citavi_export {
    display:                    none;
}
#basket .table_body {
    height:                     calc(100% - 60px);
}