#diagram {
    height: 145px;
}
#slider-div {
    margin-left: 35px;
    width: 497px;
}
#noYear {
    border: 1px solid white;
    cursor: pointer;
    position: absolute;
    left: 53px;
    top: 7px;
    padding: 2px 3px;
}
#noYear:hover {
    background-color: #D7EAF7;
    border: 1px solid grey;
}
#titles_without_year {
    margin-right: 3px;
    margin-left: 3px;
}
#diagram_slide {
    position: relative;
    width: 459px;
    left: 20px;
    top: 29px;
}
#year-slider a {
    cursor: col-resize;
}
.xAxis .tickLabel {
    margin-top: 0pt;
}
.yAxis .tickLabel {
    margin-right: 5px;
}
#year-slider {
    border: medium none;
    margin: 0pt 4px 0pt 35px;
    top: 10px;
}
#year-slider .ui-slider .ui-slider-handle {
    width: 12px;
}
#year-slider .ui-slider-horizontal .ui-slider-handle {
    margin-left: -6px;
}
#small_year {
    display: inline-block;
    width: 75px;
    text-align: center;
}
#year-0 {
    background-image: url("images/arrow_from.png");
    background-repeat: no-repeat;
    color: #4F4F4F;
    padding-left: 2px;
    left: -42px;
    background-position: 32px 2px;
}
#year-1 {
    background-image: url("images/arrow_to.png");
    background-repeat: no-repeat;
    text-align: right;
    color: #4F4F4F;
    left: 6px;
    background-position: 2px 2px;
    padding-right: 2px;
}
#year-0:hover, #year-1:hover {
    color: black;
    border-color: black;
}
#range-div {
    margin-left: 35px;
    margin-right: 2px;
}
#countYears {
    text-align: right;
    font-weight: bold;
    margin-left: 5px;
}
.showYear {
    position: relative;
    display: inline-block;
    border: 1px solid grey;
    cursor: pointer;
    padding-top: 0pt;
    background-color: white;
    height: 20px;
    top: 146px;
    line-height: 20px;
    width: 49px;
}
#block-0 {
    background-color: grey;
    opacity: 0.5;
    position: absolute;
    height: 124px;
    top: -151px;
}
#block-1 {
    background-color: grey;
    opacity: 0.5;
    position: absolute;
    top: -151px;
    height: 124px;
}
#year-slider .ui-state-default {
    background: url("images/bg_black.png") repeat-y scroll center 0pt transparent;
    border: medium none;
    z-index: 0;
}
#year-slider a:focus {
    color: #E17009;
}