#footer {
    background-color: rgb(0, 74, 153);
    color:                      white;
    height:                     25px;
    line-height:                25px;
    text-align:                 right;
    padding-right:              10px;
}
#copyright {
    display:                    inline-block;
    color: rgb(178, 180, 179);
    margin-right: 10px;
}
#footer a.contact {
    color:                      white;
}
#footer .pagination {
    display: inline-block;
    color: black;
    margin-left: 200px;
    position: relative;
    right: -3px;
}