#header {
    height:                     140px;
    background-color:           white;
}
#ubfr_logo {
    left:                       17px;
    background-image:           url("images/unilogo.png");
    top:                        22px;
    height:                     144px;
    width:                      126px;
    position:                   absolute;
}
#banner_blue {
    font-family:                "Times New Roman",FreeSerif,serif;
    padding-left:               197px;
    padding-top:                64px;
    height:                     116px;
}
#banner_grey {
    height:                     20px;
    margin-top:                 4px;
    line-height:                20px;
    display: flex;
    display: -ms-flex;
    display: -webkit-flex;
}
#banner_title {
    font-size:                  24px;
    color:                      white;
}
#banner_uni {
    color:                      white;
    font-size:                  14px;
    text-decoration:            none;
    position:                   absolute;
}
#banner_uni:hover {
    text-decoration: underline;
}
.uni_blue {
    background-color:           rgb(0, 74, 153);
}
.uni_grey {
    background-color:           rgb(200, 200, 200);
}
#iss_version {
    margin-right: 5px;
    color: rgb(0, 74, 153);
}
.backlink_div {
    position: absolute;
    height: 24px;
    top: -31px;
    left: 20px;
    line-height: 20px;
    z-index: 99;
}
.backlink_div a {
    text-decoration: none;
    background-image: url("images/link.png");
    background-repeat: no-repeat;
    background-position: right 5px center;
    padding-right: 25px;
    background-color: white;
    height: 24px;
    line-height: 24px;
    display: inline-block;
    border: 1px solid grey;
    padding-left: 6px;
    box-shadow: 2px 2px 0px;
}
.backlink_div a:hover {
    background-color: rgb(242, 243, 241);
}