#search {
    height: 230px;
}
#searchfields {
    display:                    inline-block;
    vertical-align:             top;
    height:                     230px;
    position:                   relative;
    text-align:                 right;
    width:                      375px;
    background-color:           white;
}
#searchfields div.po_r {
    margin-right:               15px;
    flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
}
label {
    display:                    inline-block;
    text-align:                 right;
    margin-right:               10px;
    line-height:                25px;
    width: 75px;
}
input[type="search"] {
    border:                     1px solid grey;
    height:                     20px;
    width:                      265px;
    padding-left:               1px;
}
input[type="search"]:hover {
    border-color:               black;
}
input[type="search"]:focus {
    border-color:               rgb(0, 74, 153);
}
.select_search_line {
    padding-right: 15px;
    padding-left: 15px;
    display: flex;
    display: -webkit-flex;
    display: -ms-flex;
}
.select_search_line select {
    height: 22px;
    border: 1px solid grey;
    width: 110px;
}
.select_search_line input {
    flex: 1 0 0px;
    -webkit-flex: 1 0 0px;
    -ms-flex: 1 0 0px;
    margin-left: 10px;
}
.loading_text {
    position:                   relative;
    top:                        1px;
    margin-left:                4px;
    vertical-align:             top;
}
.loading_img {
    background-image:           url("images/loading.gif");
    background-repeat:          no-repeat;
    height:                     16px;
    width:                      16px;
    display:                    inline-block;
}
.ui-menu-item a.ui-corner-all {
    padding:                    0pt;
}
#loading_img {
    color:                      white;
    font-weight:                bold;
    position:                   absolute;
    right:                      14px;
    top:                        4px;
}
.all {
    margin-bottom:              10px;
    margin-top:                 10px;
}
#reset_form {
    position: absolute;
    bottom: 10px;
    border: 1px solid grey;
    /* width: 80px; */
    padding: 3px;
    text-align: center;
    right: 15px;
    background-color: #D7EAF7;
    cursor: pointer;
}
#reset_form:hover {
    border: 1px solid black;
    background-color: #B6D6EC;
}
.select_search_line + .select_search_line {
    margin-top: 5px;
}
.select_search_help {
    position: relative;
    background-image: url("images/info.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 16px;
    height: 23px;
    margin-left: 5px;
}
.help_box {
    border: 1px solid grey;
    padding: 3px;
    width: 350px;
    position: absolute;
    left: 25px;
    top: 5px;
    background-color: white;
    z-index: 99;
    display: none;
    text-align: left;
}