* {
    margin:                     0px;
    padding:                    0px;
    -moz-box-sizing:            border-box;
    box-sizing: border-box;
}
html, body {
}
.noscriptmsg {
    font-size:                  14px;
    width:                      440px;
    border:                     1px solid rgb(0, 74, 153);
    margin-left:                10px;
    margin-top:                 10px;
}
body {
    font-family:                Arial;
    font-size:                  12px;
    width:                      1006px;
    padding-bottom:             10px;
}
.pagecontainer {
    margin-left:                84px;
    background-color: rgb(242, 243, 241);
}
.checkbox_high {
    position:                   relative;
    top:                        -1px;
}
table {
    border-collapse:            collapse;
    position:                   relative;
}
a.contact:hover {
    text-decoration:            underline;
}
a.contact, a.contact:visited, a.contact:active, a.back, a.back:visited, a.back:active {
    font-weight:                bold;
    text-decoration:            none;
    padding:                    2px;
    color:                      black;
}
.contact_width {
    margin-bottom:              10px;
    width:                      517px;
}
.contact_div {
    border-color:               rgb(0, 74, 153);
    border-style:               none solid solid;
    border-width:               medium 1px 1px;
    margin-top:                 16px;
    background-color:           white;
}
.contact_div label {
    line-height:                20px;
    width:                      100px;
    display:                    inline-block;
    text-align:                 right;
    margin-right:               10px;
}
.contact_div p {
    margin-top:                 10px;
    text-align:                 justify;
}
div[name="line"]:hover {
    background-color:           rgb(215, 234, 247);
    border:                     1px solid grey;
}
div[name="line"] {
    border:                     1px solid white;
    cursor:                     pointer;
    padding-bottom:             1px;
    padding-left:               2px;
}
div[name="sum_line"] {
    border:                     1px solid white;
    cursor:                     pointer;
    padding-left:               2px;
}
div[name="sum_line"]:hover {
    background-color:           rgb(215, 234, 247);
    border:                     1px solid grey;
}
.po_r {
    position:                   relative;
}
.tristate_checkbox {
    background-position:        0pt 0pt;
    background-image:           url("images/tristate_checkbox.gif");
    height:                     13px;
    position:                   relative;
    top:                        2px;
    width:                      13px;
    display:                    inline-block;
}
.m_auto {
    margin:                     0pt auto;
}
small {
    font-size:                  12px;
    font-weight:                bold;
}
#year-slider a {
    text-decoration:            none;
    width:                      12px;
    margin-left:                -6px;
    top:                        -151px;
    height:                     161px;
}
a {
    outline:                    medium none;
}
.blue_header {
    background: none repeat-x scroll 50% 50% rgb(0, 74, 153);
    color:                      white;
    font-size:                  12px;
    font-weight:                bold;
    padding-left:               10px;
    text-align:                 left;
    line-height:                25px;
}
.blue_border {
    border-width:               medium 1px 1px;
    border-style:               none solid solid;
    border-color:               rgb(0, 74, 153);
}
.m_b_20 {
    margin-bottom:              20px;
}
.p_10 {
    padding:                    10px;
}
.d_n {
    display:                    none;
}
.not_clickable {
    cursor:                     default;
}
.tabs_header div.tab_active.items_selected, .tabs_header div.items_selected, .tabs_header div.items_selected:hover {
    color:                      rgb(225, 112, 9);
}
#citavi_help {
    text-decoration:            none;
}
.va_m {
    vertical-align:             middle;
}
.checked {
    background-position:        0px 13px;
}
.ui-widget-header {
    color:                      rgb(255, 255, 255);
    font-weight:                bold;
    border:                     1px solid rgb(42, 110, 187);
}
.ui-corner-all {
    border-radius:              0px 0px 0px 0px;
    -moz-border-radius:         0px 0px 0px 0px;
    -webkit-border-radius:      0px 0px 0px 0px;
}
.ui-corner-bl {
    border-bottom-left-radius:  0pt;
    -moz-border-radius-bottomleft: 0pt;
    -webkit-border-bottom-left-radius: 0pt;
}
.ui-tabs .ui-tabs-nav li a {
    float:                      left;
    padding:                    0.3em 0.5em;
    text-decoration:            none;
}
.ui-helper-reset {
    line-height:                10px;
    height:                     20px;
    border:                     medium none;
}
.ui-tabs .ui-tabs-nav {
    padding:                    0pt 0.2em;
}
.ui-tabs .ui-tabs-nav li {
    border:                     medium none;
}
.ui-tabs .ui-tabs-nav li.ui-tabs-selected {
    padding-bottom:             0px;
}
.ui-tabs .ui-tabs-nav li {
    top:                        4px;
}
.ui-widget-content {
    border-color:               grey;
}
.m_b_5 {
    margin-bottom:              5px;
}
.cu_def {
    cursor:                     default;
}
.op_50 {
    opacity:                    0.5;
    -ms-filter:                 "alpha(opacity=50)";
    filter:                     alpha(opacity=50);
    zoom:                       1;
}
.op_100 {
    opacity:                    1;
    -ms-filter:                 "alpha(opacity=100)";
    filter:                     alpha(opacity=100);
    zoom:                       1;
}
.m_l_10 {
    margin-left:                10px;
}
hr {
    background-color:           grey;
    border:                     0pt none;
    height:                     1px;
    margin-top:                 5px;
    margin-bottom:              5px;
}
.m_0 {
    margin:                     0pt;
}
.m_b_10 {
    margin-bottom:              10px;
}
.m_t_20 {
    margin-top:                 20px;
}
.m_t_10 {
    margin-top:                 10px;
}
.p_5 {
    padding:                    5px;
}
.t_c {
    text-align:                 center;
}
.t_l {
    text-align:                 left;
}
.d_i {
    display:                    inline;
}
.m_l_100 {
    margin-left:                100px;
}
.clickable {
    cursor:                     pointer;
}
.m_t_5 {
    margin-top:                 5px;
}
.d_ib {
    display:                    inline-block;
}
.m_t_4 {
    margin-top:                 4px;
}
.p_l_5 {
    padding-left:               5px;
}
.p_r_5 {
    padding-right:              5px;
}
.m_r_20 {
    margin-right:               20px;
}
.p_l_10 {
    padding-left:               10px;
}
.fw_b {
    font-weight:                bold;
}
.itemChecked {
    background-color:           rgb(202, 230, 201);
}
.ui-widget-header {
    background:                 none repeat scroll 0px 0px rgb(0, 74, 153);
}
.m_l_5 {
    margin-left:                5px;
}
.p_t_10 {
    padding-top:                10px;
}
a:link, a:visited {
    color:                      black;
}
.v_hi {
    visibility: hidden;
}